<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>

    </style>
  </head>
  <body>

    <%- include('header') %>

    <section class="report-section">
      <h1>Student Report Card</h1>
      <ul>
        <% student.map((stus)=> { %>
        <li>
          <p>Name: <%= stus.name %></p>
          <p>Grade: <%= stus.grade %></p>
          <p>Favorite Subject: <%= stus.favoriteSubject %></p>
        </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
